* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
ul {
  list-style: none;
}
.search-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 8px;
  height: 100%;
  margin-bottom: 32px;
}
.search-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
}
.search-form input:hover {
  border: 1px solid #000;
}
.search-form input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}
.button {
  border: none;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.button:hover {
  background: #6c8cff;
  cursor: pointer;
}
